*{
    margin: 0px;
    padding: 0px;
}
.container-1243{
    max-width: 1243px;
}
.greenbtn{
    background-color:#CAC32C;
}
.greenprod{
    color:#CAC32C ;
}
.lists{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-family: Inter;
    padding:0px;
    margin-right: 68px;
}
.container-1247{
    max-width: 1247px;
}
a{
    margin-top: 8px;
}
b{
    Font:Helvetica;
    Line-height:55px;
    color:#494D56;
}
.imgcontent{
    background-image: url(Asset4.jpg);
} 
.rowmargin{
    margin: 0px;
}
.text{
    margin-top: 132px;
}
.img1{
    margin-top: 66px;
    margin-bottom: 92px;
}
p{
    margin-top: 90px;
}
.container-1133{
    max-width: 1133px;
}
.orangecontent{
    background-color: #F7931E;
}
h3{
    margin-top:63px;
    margin-bottom:63px;
}
.blogimg{
    margin-top:35px;
    margin-bottom:35px;
}
.mailsearch{
    margin-top:70px;
    margin-bottom:70px;
}
.container-1110{
    max-width: 1110px;
}
.list1{
    margin-right: 40px;
    width: 155px;
    border-radius:10px;
    Height:46px;
}
.inputts{
    Width:229px;
}
.list2{
    margin-right: 40px;
    width: 155px;
    border-radius:10px;
    Height:46px;
    margin-bottom: 30px;
}
.bloglist{
    margin-top: 80px;
}
.bloglist li{
    margin-left: 3px;
}
.input-group{
    margin-left: 60px;
}
.boxcontent1{
    margin-top: 83px;
}
.boxcontent2{
    margin-top: 52px;
}
.card-content{
    margin-top: 0px;
}
.boxcontent3{
    margin-top: 52px;
}
.pagelist{
    margin-top: 80px;
}
.pagelist li{
    margin-left: 25px;
}

.cardbord{
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.list3{
    Width:156px;
    border-radius:10px;
}
.off{
    Width :156px;
    Height :50px;
    background-color: #E5E5E5;
    border-radius: 10px;
}
.num{
    Width :50px;
    Height :50px;
    border-radius: 10px;
}
.nxt{
    Width :106px;
    Height :50px;
    border-radius:10px;
}

.footer1{
    margin-top: 80px;
    background-color: #494D56;
}
.container-1275{
    max-width: 1275px;
}
.box1 {
    margin-top: 107px;
    margin-bottom: 100px;
}
.box2{
    margin-top: 99px;
}
.box2 li{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #FFFFFF;
}
.rqstbtn{
    margin-left: 30px;
}
.box3{
    margin-top: 99px;
    margin-bottom: 64px;
}
.box3 p{
    margin-top: 0px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}
.box3 input{
    margin-bottom: 33px;
}
.box3 i{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    margin-top: 11px;
}

.dark{
    background-color: #5D626F;
}
footer{
    margin-top: 20px;
    margin-bottom: 12px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #FFFFFF;

}
.footer2{
    background-color: #3A3E47;
}
.footer2 ul{
    margin-bottom:16px ;
    margin-top: 16px;
}
.btn1{
    Width :122px;
    Height :41px;
}
.inptdv input{
    Width :355px;
    Height :41px;
}
.footer2 li{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #FFFFFF;
}
.iconlist li{
    margin-left: 10px;
}
